.Navbar a {
  color: #61dafb;
  text-decoration: none;
}

.Navbar a:hover {
  color: #4b899b;
}

.Navbar {
  display: flex;
  justify-content: left;
  padding-left: 70px;
  background-color: #fff;
  width: 200px;
  grid-area: n;
  height: 727px;
}
